.field-error-msg {
  font-size: 0.75rem;
  font-weight: bold;
  color: #ff4500;
  text-align: start;
  margin: 5px;
  width: 100%;
}

.field-form-elem {
  display: flex;
  flex-direction: column;
}

.field-form-elem_no-width input {
  min-width: 0 !important;
}

.field-form-elem_disabled {
  background: #eee !important;
}

.field-form-elem label {
  text-align: start;
  color: rgba(59, 78, 78, 0.918);
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 800;
  margin-top: 10px;
}

.field-form-elem input {
  background: #fff;
  min-width: 250px;
  max-width: 350px;
  border: none;
  outline: none;
  padding: 15px;
  box-shadow: -1px 2px 5px rgb(0 0 0 / 10%);
  border-radius: 5px;
  font-size: 1rem;
  color: #000;
  margin: 3px 0;
  letter-spacing: 1px;
}
.field-form-elem .full-input {
  max-width: 100vw;
  width: 100%;
}
.field-form-elem input:focus {
  box-shadow: -2px 7px 12px rgb(0 0 0 / 17%);
}

.field-form-elem input::placeholder {
  color: #75797c;
}

.field-form-elem select,
.field-form-elem textarea {
  background: #fff;
  min-width: 250px;
  border: none;
  outline: none;
  padding: 15px;
  box-shadow: -1px 2px 5px rgb(0 0 0 / 10%);
  border-radius: 5px;
  font-size: 1rem;
  color: darkslategrey;
  margin: 3px 0;
}

.field-form-elem textarea {
  min-height: 125px;
  resize: none;
}

.field-form-elem select:focus,
.field-form-elem textarea:focus {
  box-shadow: -2px 7px 12px rgb(0 0 0 / 20%);
}

.field-form-elem .password-input {
  box-shadow: none;
}

.field-form-elem .password-input:focus {
  box-shadow: none;
}

.field-special-text {
  cursor: pointer;
  transition: 200ms;
  color: var(--primary-color);
}

.field-special-text:hover {
  color: var(--secondary-color);
  transform: scale(1.2);
}

.field-form-elem_pass-box {
  position: absolute;
  left: 0;
  top: 103%;
  background-color: #fff;
  width: 100%;
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: 150ms;
  text-align: center;
}

.field-form-elem_pass-box_active {
  min-width: 150px;
  height: fit-content;
  padding: 10px;
  box-shadow: 1px -1px 10px rgba(0 0 0 /14%);
  padding-right: 20px;
  z-index: 100;
}

.field-form-elem_pass-box li {
  display: flex;
}

.field-form-elem_pass-box p {
  margin: 0 5px;
}
