.form-control{
    width: 100%;
    position: relative;
}

.error-text{
    position: absolute;
    color: rgb(255, 58, 58);
    font-size: 16px;
    font-weight: 400;
    top: 60px;
    left: 0px;
}

input, select{
    border: 1px solid rgba(35, 152, 255, 0.607);
    background-color: rgba(35, 152, 255, 0.1);
    height: 50px;
    width: 100%;
    border-radius: 5px ;
    color: rgb(4, 48, 86);
    font-weight: 500;
    font-size: 16px;
    
}

input:focus, select:focus{
    outline: none;
    border: 3px solid rgba(5, 66, 119, 0.607);
}

label{
    color: rgba(3, 38, 73, 0.641);
    font-weight: 400;
    font-size: 14px;
}


