*{
    background-color: wheat;
}
.container{
    text-align: center;
}
.dropdown {
    padding: 40px;
}
.containerLabel label{
    padding: 20px;
    font-size: 20px;
}
.containerLabel label input{
    font-size: 20px;
}
.dropdown select{
    font-size: 20px;
    height: 40px;
    padding: 5px;
}