.map1{
    /* background-color: blue; */
    width: 70%;
    min-width: 600px;
    min-height: 500px;
    height: 80%;
    padding: 0 5vh;

    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: space-between; */
    /* align-items: center; */

    

}

.mapHeader{
    border-bottom: 1px solid rgb(212, 210, 210);
    padding-bottom: 10px;

}

.mapHeader div{
    font-size: 30px;
    color: rgb(12, 128, 230);
    font-weight: 700;
    /* background-color: rebeccapurple; */
}

.mapHeader p{
    /* background-color: red; */
    font-size: 14px;
    color: rgb(124, 124, 124);
    font-weight: 300;
    margin: 0px 0px;
}