.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 3rem;
  padding: 3rem;
}
.error{
  color: red;
  font-size: large;
  margin: 0.5rem;
}