.app{
  text-align: center;
  font-family:'sans-serif';
  padding: 1vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: #fafafa;
}

.form{
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 55vh;
  justify-content: space-evenly;
  align-items: flex-start;
  text-transform: capitalize;
  overflow: hidden;
  background-color: #FFFFFF;
  padding: 4vh 3vw;
}
.inputtext{
  height: 5vh;
  width: 30vw;
  box-sizing: border-box;
}
.select{
  height: 5vh;
  width: 30vw;
}
.submitbtn{
  height: 5vh;
  background-color: blue;
  width: 30vw;
  color: #FFFFFF;
  outline: none;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}
.error{
  color: red;
}