@tailwind base;
@tailwind components;
@tailwind utilities;

/* the default scrollbar in chrome is just ugh */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  height: 30%;
  border-radius: 100px;
  border: 4px solid transparent;
  background-color: rgb(59 130 246);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(30 64 175);
}
