html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-container {
	display: flex;
	flex-direction: row;
	width: 90vw;
	margin-top: 5vh;
	margin-left: 5vw;
	margin-right: 5vw;
	height: 90vh;
}

.form-container {
	width: 40vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	margin-left: 2.5vw;
	margin-right: 2.5vw;
	margin-top: 5vh;
	margin-bottom: 5vh;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	border-radius: 10;
}

form {
	display: flex;
	flex-direction: column;
	width: 35vw;
	height: 79vh;
	margin: auto;
	background-color: #ffffff;
	padding-left: 3vw;
	padding-right: 3vw;
	padding-top: 10vh;
	padding-bottom: 10vh;
	justify-content: center;
}

.error-message {
	color: red;
	display: block;
	margin-top: 1vh;
	margin-bottom: 1.5vh;
}

label {
	display: block;
	margin-top: 2vh;
	margin-bottom: 1vh;
}

select {
	margin-bottom: 1vh;
	height: 5vh;
}

input {
	width: 100%;
	height: 5vh;
	padding: auto;
	font-size: 16;
}

.submit-btn {
	margin-top: 2vh;
	height: 7vh;
}
.map-container {
	width: 40vw;
	height: 70vh;
}

.success-message {
	color: green;
}

.status {
	margin: auto;
}

@media only screen and (max-width: 800px) {
	.main-container {
		flex-direction: column;
		margin-top: 3vh;
		margin-left: 2vw;
	}
	.form-container {
		width: 100%;
		margin-top: 3vh;
	}
	.map-container {
		width: 100%;
		margin-top: 3vh;
		margin-bottom: 5vh;
		margin-left: 2vw;
	}
}
